<div class="container">
    <div>
    <h2>Modifier les informations d'un employe:</h2>
    </div>
    <form >
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
            <label >ID employe</label>
            <input  readonly type="text" [(ngModel)]="currentEmploye.idEmploye"
            name="idEmploye" class="form-control">
        </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Nom Employe</label>
    <input type="text"[(ngModel)]= "currentEmploye.nomEmploye"
    name="nomEmploye" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >salaire employe</label>
    <input type="number" [(ngModel)]= "currentEmploye.salaireEmploye"
    name="salaire Employe" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date recrutement</label>
        <input type="date" [ngModel]="currentEmploye.date | date: 'yyyy-MM-dd'"
        (ngModelChange)=" currentEmploye.date= $event" name="date" class="form-control">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Grade</label>
        <select class="form-control form-control-lg" id="idG" name="idG" [(ngModel)]="updatedGId">
            <option *ngFor="let g of grade" [value]="g.idG">
                {{ g.nomG }}
            </option>
        </select>
    </div>

    <div class="col-sm-16 col-md-16 col-lg-16">
        <label class="mb-2">Image :</label>
        <input type="file" (change)="onImageUpload($event)" class="form-control">
    </div>

    <div class="col-sm-16 col-md-16 col-lg-16">
        <img [src]="myImage" class="card-img-top img-fluid rounded-start"
        style="width: 500px; height: 300px" />
    </div>
<div class="mt-2">
<button type="submit" (click)="updateEmploye()" class="btn btn-success">Modifer</button>
</div>
</form>
</div>

